ravel
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

.vagrant/*
Vagrantfile

# JetBrains IDE
/.idea
_ide_helper.php
.phpstorm.meta.php

# Custom
/public/uploads
/.buildpath
/.project
/.settings
/.vscode

# MAC
.DS_Store
*/.DS_Store
